[access]
	inheritFrom = Public-Plugins
[access "refs/*"]
	owner = block group Anonymous Users
	owner = block group plugins-admin-console
[project]
	description = Provides information via SSH commands to Gerrit Administrators.
[access "refs/for/*"]
	exclusiveGroupPermissions = label-Auto-Submit labelAs-Verified
	label-Auto-Submit = +0..+1 group gerrit-ci
